@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;

    
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(images/pic3.svg);
    background-size: cover;
    background-position: center;
    background-color: rgb(77, 78, 109) ;;
    

}
#contact{
    text-align: center;
}

.contact{
    font-size: 59px;
    color: white;
    font-weight: 800;
    padding-bottom: 20px;


}

p{
    color: white;

}



.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;

}

input, textarea, label{
    display:block;
    margin: 0 auto;
    width: 100%;
    color: white;


}

input, textarea{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgb(246, 240, 240) ;

}

input[type=submit ]{
    background: rgb(231, 46, 46);
    padding: 15px;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;

}
input[type=submit ]:hover{
    background: rgb(89, 57, 206);
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
header .logo{
    position: relative;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;


}

header nav .navigation a{
color: white;
background:rgb(77, 78, 109) ;
font-weight: 500;
letter-spacing: 1px;
padding: 2px 15px;
border-radius: 20px;
text-decoration: none;
transition: 0.3s;

}

header nav .navigation a:not(:last-child){
    margin-right: 30px;

}

header .navigation a:hover{
    background: rgb(231, 46, 46);


}


#menu{
    display: none;

}

#check{
    z-index: 3;

}


/*responsive css*/

@media(max-width:960px){

    header .navigation{
        display: none;
    }
    #menu{
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s;
        transition-property:color ;


    }

    #menu:hover{
        color:rgb(231, 46, 46) ;



    }
    #menu .close-btn{
        display: none;

    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(162, 129, 251, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #check:checked ~ header .navigation a{

        font-weight: 700;
        margin-right:0 ;
        margin-bottom: 50px;
        letter-spacing: 2px;

    }

    #check:checked ~ header #menu .menu-btn{
        display: none;

    }

    #check:checked ~ header #menu .close-btn{
        z-index: 2;
        display: block;
        position: fixed;

    }

    #menu .menu-btn{
        position: absolute;

    }

    header .logo{
        position: absolute;
        bottom: -6px;

    }

}